p {
    color: maroon;
    border: 1px solid rgb(56, 165, 238);
}

h2 {
    font-family: sans-serif;
    color: blue;
    border-bottom: 1px solid black;
}

h1 {
    border-top: 1px solid black;
}

p.red {
    color:red;
}

p.greentea {
    color: green;
}

.greentea {
    color: green;
}

.line {
    border-bottom: 1px solid black;
}

.red {
    color: red;
}

#para { text-align: center; color: red;}
#para { text-align: right; }

 a:link {color: green; text-decoration: none;}
 a:hover {color: red; background-color: yellow;}
 a:active {color: blue;}
 a:visited {color: pink;}

 input[type="password"] {
    background-color: aqua;
    opacity: 0.5;

 }

